@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
--font-sans: 'Roboto', sans-serif;

}

:root {
  /* Theme Colors (Light Mode) */
  --accent: oklch(83.61% 0.1721 96.15);
  --accent-foreground: oklch(15% 0.0300 96.15);
  --background: oklch(97.02% 0.0094 96.15);
  --border: oklch(90.00% 0.0094 96.15);
  --danger: oklch(65.32% 0.2372 6.82);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0094 96.15);
  --default-foreground: oklch(21.03% 0.0059 96.15);
  --field-background: oklch(100.00% 0.0047 96.15);
  --field-foreground: oklch(21.03% 0.0094 96.15);
  --field-placeholder: oklch(55.17% 0.0188 96.15);
  --focus: oklch(83.61% 0.1721 96.15);
  --foreground: oklch(21.03% 0.0094 96.15);
  --muted: oklch(55.17% 0.0188 96.15);
  --overlay: oklch(100.00% 0.0028 96.15);
  --overlay-foreground: oklch(21.03% 0.0094 96.15);
  --scrollbar: oklch(87.10% 0.0094 96.15);
  --segment: oklch(100.00% 0.0094 96.15);
  --segment-foreground: oklch(21.03% 0.0094 96.15);
  --separator: oklch(92.00% 0.0094 96.15);
  --success: oklch(73.29% 0.1971 131.89);
  --success-foreground: oklch(21.03% 0.0059 131.89);
  --surface: oklch(100.00% 0.0047 96.15);
  --surface-foreground: oklch(21.03% 0.0094 96.15);
  --surface-secondary: oklch(95.24% 0.0075 96.15);
  --surface-secondary-foreground: oklch(21.03% 0.0094 96.15);
  --surface-tertiary: oklch(93.73% 0.0075 96.15);
  --surface-tertiary-foreground: oklch(21.03% 0.0094 96.15);
  --warning: oklch(78.19% 0.1615 53.41);
  --warning-foreground: oklch(21.03% 0.0059 53.41);

}

.dark {
  --accent: oklch(83.54% 0.1712 82.63);
  --accent-foreground: oklch(15% 0.0300 82.63);
  --background: oklch(12.00% 0.0096 82.63);
  --border: oklch(28.00% 0.0096 82.63);
  --danger: oklch(59.40% 0.2005 4.09);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0096 82.63);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0192 82.63);
  --field-foreground: oklch(99.11% 0.0096 82.63);
  --field-placeholder: oklch(70.50% 0.0192 82.63);
  --focus: oklch(83.54% 0.1712 82.63);
  --foreground: oklch(99.11% 0.0096 82.63);
  --muted: oklch(70.50% 0.0192 82.63);
  --overlay: oklch(21.03% 0.0192 82.63);
  --overlay-foreground: oklch(99.11% 0.0096 82.63);
  --scrollbar: oklch(70.50% 0.0096 82.63);
  --segment: oklch(39.64% 0.0096 82.63);
  --segment-foreground: oklch(99.11% 0.0096 82.63);
  --separator: oklch(25.00% 0.0096 82.63);
  --success: oklch(73.29% 0.1972 130.27);
  --success-foreground: oklch(21.03% 0.0059 130.27);
  --surface: oklch(21.03% 0.0192 82.63);
  --surface-foreground: oklch(99.11% 0.0096 82.63);
  --surface-secondary: oklch(25.70% 0.0144 82.63);
  --surface-secondary-foreground: oklch(99.11% 0.0096 82.63);
  --surface-tertiary: oklch(27.21% 0.0144 82.63);
  --surface-tertiary-foreground: oklch(99.11% 0.0096 82.63);
  --warning: oklch(82.03% 0.1415 55.80);
  --warning-foreground: oklch(21.03% 0.0059 55.80);
}

#divForm {
  background-color: var(--surface);
}

#title {
  font-size: 2rem;
  color: var(--foreground);
  font-weight: bold;
}

#subTitle {
  font-size: 1.7rem;
  color: var(--foreground);
  font-weight: bold;
}

#divFooter {
  border-color: var(--accent-foreground);
}

#divChat {
  background-color: var(--surface);
}

#hero {
  font-size: 4.5rem;
  color: var(--foreground);
  font-weight: bold;
}

p {
  color: var(--field-placeholder);
}

body {
  background-color: var(--background);
}